<input type="text" [(ngModel)]="searchTitle" placeholder="Enter Phone name">
<button (click)="checkContentExists()">Search for your Phone</button>

<p [ngStyle]="{'color': contentExists ? 'green' : 'red'}">{{ message }}</p>

<div>
<h1>None</h1>
<app-content-card *ngFor="let contentItem of contentItems | typeconcluder: ''" [contentItem]="contentItem"></app-content-card>
</div>
<div>
<h1>Android</h1>
<app-content-card *ngFor="let contentItem of contentItems | typeconcluder: 'Android'" [contentItem]="contentItem"></app-content-card>
</div>
<div>
<h1>IOS</h1>
<app-content-card *ngFor="let contentItem of contentItems | typeconcluder: 'Ios'" [contentItem]="contentItem"></app-content-card>
</div>